.post {
  max-width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  box-shadow:  2px 2px 8px rgb(170, 170, 170);
  background-color: #c5c5c5;
}

.postImg {
  max-width: 300px;
  max-height: 200px;
  object-fit: cover;
  border-radius: 7px;
}
.post--username{
  font-size: 12px;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  color: #5e5e5e;
  font-style: italic;
}
.postInfo {
  padding: 0.5rem;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.postTitle {
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 900;
  /* margin-top: 15px; */
  /* cursor: pointer; */
  color: #444444;
}

.postDate {
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 13px;
  font-weight: 400;
  color: #999999;
  margin-top: 15px;
}

.postDesc {
  /* font-family: "Varela Round", Arial, Helvetica, sans-serif; */
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #444444;
  margin-top: 0.5rem;
  overflow: hidden;
  /* text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; */
}